{
  "machine": {
    "gpu": 1,
    "cpu": 1000,
    "ram": 8000
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "EnvironmentVariables": [
          {{ if .ipfs }}"{{ subst "ipfs=%s" .ipfs }}",{{else}}"IMAGE=ipfs",{{ end }}
          {{ if .prompt }}"{{ subst "prompt=%s" .prompt }}"{{else}}"prompt=prompt"{{ end }}
        ],
        "Image": "arsen3d/ollama:llama3-8b-lilypad1"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": ""
      },
      "Timeout": 1800,
      "Verifier": "Noop",
       "outputs": [
                {
                    "Name": "outputs",
                    "StorageSource": "IPFS",
                    "path": "/outputs"
                }
            ]
    }
  }
}
